body {
    margin: 0;
  }
  
  .App {
    display: grid;
    grid-template-rows: 100px 20% 100%;
    grid-template-columns: 1/3 1/3 1/3;
  }
  
  /* Header styles */
  .header {
    grid-row: 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5ad42;
    color: #fff; 
  }
  
  /* Title styles */
  .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #150000;
  }

  .title.link {
    font-size: 20px;
    display: flex;
    text-decoration: none;
  }
  
  /* "Enter Ingredients" styles */
  .enter-ingredients {
    grid-column: 2;
    grid-row: 2;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  .search-bar-container {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
  
  /* Ingredient search styles */
  .search-bar {
    width: 85%;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  
  .suggested {
    grid-column: 1;
    grid-row: 3;
    margin: 10px;
    text-align: center;
  }
  
  .saved {
    grid-column: 3;
    grid-row: 3;
    margin: 10px;
    text-align: center;
  }
  
  
  /* Suggested and saved recipes widgets styles */
  .widget {
    width: 85%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    max-height: 50%;
    overflow-y: auto;
  }

  .widget-savedPage {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    max-height: 50%;
    overflow-y: auto;
  }
  
  /* Recipe list styles */
  .recipe-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Recipe item styles */
  .recipe-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  /* Locked recipe item styles */
  .recipe-item.locked {
    background-color: #d9ffd9; /* Customize the color for locked items */
    font-weight: bold;
  }
  
  /* Customize the styles further as needed */
  
  /* User icon and dashboard icon styles */
  .icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  


 /* Non-main page styles */


 .page-container {
  display: grid;
  grid-template-rows: 100px 120%;
  grid-template-columns: auto 1fr;
}

.dashboard {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  background-color: #f5ad42;
  color: #000000;
  padding: 0 10px;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.main-content {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.page-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.recipe-table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.column {
  padding: 20px;
}

.steps {
  grid-column: 1;
}

.ingredients {
  grid-column: 2;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 5px;
}

.saveButton {
  height: 40px;
  align-items: center;
  padding: 10px;
  margin-left: 15px;
}