body {
  margin: 0;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5ad42; /* Header background color */
  color: #fff; /* Text color for icons and title */
}

/* Title styles */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #150000;
}

/* "Enter Ingredients" text styles */
.enter-ingredients {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-bar-container {
  display: flex;
  justify-content: center; /* Center the search bar horizontally */
}

/* Ingredient Search Bar styles */
.search-bar {
  width: 35%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Suggested and Saved Recipes Widgets styles */
.widget {
  width: 25%; /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.widget.right {
  margin-left: 73%; 
  margin-right: 0;
  margin-top: -22.75%;
}
.widget.left {
  margin-left: 0; 
  margin-right: 100%;
}

/* Recipe list styles (within the widgets) */
.recipe-list {
  list-style-type: none;
  padding: 0;
}

/* Recipe item styles */
.recipe-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Locked recipe item styles */
.recipe-item.locked {
  background-color: #d9ffd9; /* Customize the color for locked items */
  font-weight: bold;
}

/* Customize the styles further as needed */

/* User icon and dashboard icon styles */
.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

/* Add any additional styles here */
