body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: 15% 20% 100%;
  grid-template-columns: 1/3 1/3 1/3;
}

/* Header styles */
.header {
  grid-row: 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5ad42; /* Header background color */
  color: #fff; /* Text color for icons and title */
}

/* Title styles */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #150000;
}

/* "Enter Ingredients" text styles */
.enter-ingredients {
  grid-column: 2;
  grid-row: 2;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.search-bar-container {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

/* Ingredient Search Bar styles */
.search-bar {
  width: 85%;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.suggested {
  grid-column: 1;
  grid-row: 3;
  margin: 10px;
}

.saved {
  grid-column: 3;
  grid-row: 3;
  margin: 10px;
}


/* Suggested and Saved Recipes Widgets styles */
.widget {
  width: 85%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  max-height: 50%;
  overflow-y: auto;
}
.widget.right {
  grid-column: 3;
  grid-row: 3;
}

/* Recipe list styles (within the widgets) */
.recipe-list {
  list-style-type: none;
  padding: 0;
}

/* Recipe item styles */
.recipe-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Locked recipe item styles */
.recipe-item.locked {
  background-color: #d9ffd9; /* Customize the color for locked items */
  font-weight: bold;
}

/* Customize the styles further as needed */

/* User icon and dashboard icon styles */
.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

/* Add any additional styles here */
